<div class="card" style="display: flex; justify-content: center; border-radius: 0">
  <section style="text-align: center; display: grid; grid-template-columns: 1fr 1fr; padding-top: 3%; border-color: black;">
    <p style="color: #434b54;">Gift credit</p>
    <p><strong><%= number_to_currency(45.00) %></strong></p>
  </section>
</div>