<nav class="navbar" style="padding: 0;">  
  <div class="container-fluid" style="background-color: #3778c2; text-align: center; padding: 10px;">
      <h3 style="color: #fff; margin: 0 auto; max-width: 80%;"><%= title %></h3>
    </div>
</nav>