<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 70vh; margin-top: 10%; background-color: #f8f9fa;">

  <div>
    <h1 style="color: #212529; font-size: 2rem; margin-bottom: 20px;">Monitor Expenses</h1>
  </div>


  <div style="margin-top: 25%; width: 90%;">
    <%= button_to 'LOG IN', new_user_session_path, class: 'btn btn-primary p-2 mx-2 text-bold', style: 'background-color: #3778c2; width: 98%; border: none;' %>
   <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-gray p-2 mx-2 text-bold', style: 'background-color: white; color: #434b54; width: 90%; text-align: center; display: block; text-decoration: none;' %>
  </div>

</div>