<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;background-color: #f8f9fa;">

  <div style="margin-top: 25%; margin-bottom: 25%">
    <h1 style="color: #212529; font-size: 2rem; margin-bottom: 20px;">Monitor Expenses</h1>
  </div>


  <div style="width: 90%;">
    <%= button_to 'LOG IN', new_user_session_path, class: 'btn btn-primary p-2', style: 'background-color: #3778c2; width: 100%; border: none;' %>
  </div>
  <div style="width: 98%;">
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-gray p-2', style: 'background-color: white; color: #434b54; width: 98%; text-align: center; display: block; text-decoration: none;' %>
  </div>

</div>